{% extends 'admin_panel/base.html' %}
{% load static %}


{% block content %}
    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">Dashboard</h4>
                            </div><!--end col-->
                            <div class="col-auto align-self-center">
                                <a class="btn btn-outline-info btn-icon-text"   href="" >Create <i class="ti-plus btn-icon-append"></i></a>
                            </div><!--end col-->  
                        </div><!--end row-->                                                              
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->
            <div class="row">                       
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">                      
                                    <h4 class="card-title">List page Model</h4>                      
                                </div><!--end col-->                                        
                            </div>  <!--end row-->                                  
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div class="table-responsive browser_users">
                                <table class="table mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">Email</th>
                                            <th class="action">Action</th>
                                        </tr><!--end tr-->
                                    </thead>
                                    <tbody>
                                            <tr>                                                        
                                                <td class="text-capitalize">1</td>
                                                <td class="text-capitalize">Test</td>
                                                <td class="text-capitalize">test@example.com</td>
                                                <td class="action">                                                       
                                                    <a href="" class="mr-2"><i class="las la-eye text-info font-18"></i></a>
                                                    <a class="action-button remove redirect btn btn-default btn-icon" style="padding:0;"
                                    data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href=""><i class="las la-trash-alt text-danger font-18"></i></a>
                                                </td>
                                            </tr><!--end tr-->   
                                    </tbody>
                                </table> <!--end table-->                                               
                            </div><!--end /div-->
                        </div><!--end card-body--> 
                    </div><!--end card--> 
                </div>
                <!--end col-->   
                <!--end col--> 
            </div><!--end row-->                

        </div>            
    </div>
    <!-- end page content -->
{% endblock content %}